doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Barbearia Stylus
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      header
        #navbar
          img(src="https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/image/dono.png?raw=true")
          a(href='/index.pug') Início
          a(href='./HTML/sobre.html') Sobre
          a(href='./HTML/localizacao.html') Localização
          a(href='./HTML/contato.html') Contato
      main
        #principal
          h1 Barbearia Stylus
          p  A melhor barbearia de São Sebastião e região!
        #navegacao
          h2 Navegue pelo site
          .item-foto
            a(href='./HTML/joias.html')
              img(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/relogio-joalheria.jpg?raw=true' width='250' height='250')
            a(href='./HTML/joias.html') Joalheria
          .item-foto
            a(href='./HTML/roupas.html')
              img(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/roupas-roupas.jpg?raw=true' width='250' height='250')
            a(href='./HTML/roupas.html') Roupas
          .item-foto
            a(href='./HTML/cosmeticos.html')
              img(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/hidratante-cosmeticos.jpg?raw=true' width='250' height='250')
            a(href='./HTML/cosmeticos.html') Cosméticos
        #cortes
          #texto-cortes
            h1 Conheça alguns de nossos cortes
            h2 Cliente sempre satisfeito
          #cortes-lista
            #img-cortes
              img.image(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/corte01.jpg?raw=true')
              img.image(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/corte02.jpeg?raw=true')
            #img-cortes
              img.image(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/corte03.jpeg?raw=true')
              img.image(src='https://github.com/Ronaldo913/projeto-3bimestre-pweb/blob/main/barbearia2.0/IMG/corte04.jpeg?raw=true')
      footer
        | São Sebastião - 2022
